[submodule "emacs"]
	path = emacs
	url = https://github.com/ramnes/.emacs.d.git
[submodule "qtile"]
	path = qtile
	url = https://github.com/ramnes/qtile-config.git
[submodule "misc/context-color"]
	path = contrib/context-color
	url = https://github.com/ramnes/context-color.git
[submodule "contrib/kubetail"]
	path = contrib/kubetail
	url = https://github.com/johanhaleby/kubetail.git
[submodule "contrib/kubectx"]
	path = contrib/kubectx
	url = https://github.com/ahmetb/kubectx.git
[submodule "contrib/splatmoji"]
	path = contrib/splatmoji
	url = git@github.com:cspeterson/splatmoji.git
